@{
    ViewBag.Title = "User";
}

<h2>User</h2>

<div id="content">
    <ul></ul>
</div>

@section scripts
{
<script type="text/javascript">
    $.ajax({
        type: 'GET',
        url: 'https://api.github.com/users/@Model/repos?callback=foo',
        async: false,
        jsonpCallback: 'foo',
        contentType: "application/json",
        dataType: 'jsonp',
        success: function (repos) {
            $.each(repos.data, function (index, item) {
                $('#content ul').append("<li>" + item.name + "</li>");
            });
        },
        error: function (e) {
            console.log(e.message);
        }
    });
</script>
}